.articles {
    cursor: pointer;
    margin-top: 25px;
    padding-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 50vw;
    height: auto;
    border-radius: 15px;
    background-color: White;
}

.article-title {
    text-align: center;
    font-size: 2vw;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.article-subtitle {
    text-align: left;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 1.2vw;
    color: #555555;
    font-family: 'Times New Roman', Times, serif;
}

.article-category {
    float: left;
    padding-top: 2%;
    padding-left: 5%;
    font-size: large;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.article-release-time {
    padding-top: 2%;
    padding-left: 20%;
    color: #555555;
    font-size: large;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.article-views {
    padding-top: 2%;
    padding-left: 5%;
    color: #555555;
    font-size: large;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

img {
    max-width: 100%;
    height: auto;
}